*{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"Microsoft YaHei";
	list-style:none;
	color:000;
}
body{
	font-size:14px;
	line-height:20px;
	padding:20px;
}
.main{
	position:relative;
	padding:20px;
	background-color:#eee;
}
.team_name,.team_introduction,.team_logo{
	padding:20px;
	border:1px solid #999;
	background-color:#fff;
}
/*左栏*/
.team_name{
	float:left;
	width:160px;
	height:auto;
}
.team_name img{
	float:left;
	width:80px;
	height:80px;
}
.team_name h2{
	display:inline-block;
	margin-left:20px;
}
/*自适应中栏*/
.team_introduction{
	margin-left:220px;
	margin-right:140px;
}
/*右栏*/
.team_logo{
	float:right;
	width:80px;
}
.team_logo ul li{
	margin-top:20px;
	width:80px;
	height:80px;
}
.team_logo li:nth-child(1){
	margin-top:0;
}
.team_logo li img{
	width:80px;
	height:80px;
}
/*浮动清除*/
.clear{
	overflow:auto;
	zoom:1;
}